.VolunteerPositionsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 5vw;
  gap: 20px;
}

.IndividualContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 40px);
  align-items: center;

  gap: 20px;
}
.IndividualContainer div {
  display: flex;
  flex-direction: column;
  line-height: 1;
  position: relative;
  align-items: center;
  justify-content: center;
}

.IndividualContainer div h2 {
  position: absolute;
  color: rgba(5, 181, 112, 1);
  bottom: 0px;
  text-align: left;
}
.IndividualContainer p {
  text-align: justify;
  line-height: 1.2;
}

@media screen and (max-width: 1100px) {
  .VolunteerPositionsWrapper {
    justify-content: center;
  }
  .IndividualContainer {
    width: calc(100% / 2 - 20px);
    min-width: 200px;
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
 
  .IndividualContainer {
    width: calc(100%);
    min-width: 200px;
    max-width: 400px;
  }
}
