.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: fit-content;
  padding: 100px 0px 50px;
  width: 100%;
  background: url("../../../assets/backgroundLinesClouds.png") center
    center/cover no-repeat;
}
.HeaderWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.HeaderWrapper .DetailSection {
  height: calc(100% - 50px);
  width: 100%;
  padding: 0px 20px 0px 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.HeaderWrapper .DetailSection > .ContentWrapper {
  width: 55%;
  height: calc(100% - 0px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  min-width: 300px;
}

.HeaderWrapper .DetailSection > .ContentWrapper .Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}
.HeaderWrapper .DetailSection > .ContentWrapper .Title h2 {
  font-size: 4vw;
  line-height: 1.2;
  color: #034852;
  display: flex;
  flex-wrap: wrap;
}
.HeaderWrapper .DetailSection > .ContentWrapper .Title h2 div {
  color: #05b570;
  border-bottom: 1vw solid rgba(3, 72, 82, 0.1);
  height: 4vw;
}
.HeaderWrapper .DetailSection > .ContentWrapper .Title > p {
  font-size: 20px;
  line-height: 1.2;
}
.HeaderWrapper .DetailSection > .ContentWrapper .ButtonWrapper {
  display: flex;
  align-items: center;
}
.HeaderWrapper .DetailSection > .ContentWrapper .ButtonWrapper button {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  color: #000000;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
}
.HeaderWrapper .DetailSection .MapWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  width: 45%;
  height: calc(100% - 0px);
  pointer-events: none;
}
.HeaderWrapper .DetailSection > div img {
  height: 95%;
  width: 100%;
  min-width: 300px;
  object-fit: cover;
}
.HeaderWrapper .LinesWrapper {
  position: absolute;
  z-index: 500;
  height: calc(100% - 100px);
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .HeaderWrapper .DetailSection {
    flex-direction: column-reverse;
    padding: 0px 10vw;
  }
  .HeaderWrapper .DetailSection > .ContentWrapper {
    width: 100%;
  }
  .HeaderWrapper .DetailSection .MapWrapper {
    width: 100%;
  }
  .HeaderWrapper .DetailSection > div img {
    object-fit: contain;
    max-height: 400px;
  }
  .HeaderWrapper .DetailSection > .ContentWrapper .Title h2 {
    font-size: 6.2vw;
    line-height: 1.1;
  }
  .HeaderWrapper .DetailSection > .ContentWrapper .Title h2 div {
    border-bottom: 1vw solid rgba(3, 72, 82, 0.1);
    height: 6vw;
  }
}
@media screen and (max-width: 500px) {
  .HeaderWrapper {
    padding: 50px 0px 0px;
   
  }
  .HeaderWrapper .DetailSection {
    padding: 0px 5vw;
    gap: 5vh;
  }
  .HeaderWrapper .DetailSection > .ContentWrapper .Title h2 {
    font-size: 8vw;
  }
    .HeaderWrapper .DetailSection > .ContentWrapper .Title h2 div {
    border-bottom: 1.5vw solid rgba(3, 72, 82, 0.1);
    height: 7.6vw;
  }
  .HeaderWrapper .DetailSection > .ContentWrapper .Title > p {
    font-size: 16px;
  }
}
