.CounterContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
    gap: 25px;
    flex-wrap: wrap;
}

.CounterComponent{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
}

.CounterComponent h1{
    color: #05B570;
}