.ProblemScenarioWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 5vw;
  gap: 25px;
    background: url("./assets/background.png") center
    center/cover no-repeat;
}
.ProblemScenarioWrapper .heading {
  font-size: 18px;

  line-height: 1;
}
.ProblemScenarioWrapper .DetailSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.DetailSection .GridSetWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 0;
  border: 0.5px solid #82dab7; /* Outer border */
  min-width: 250px; /* Adjust size as needed */
  min-height: 250px;
  width: 20vw;
  height: 20vw;
  place-items: center;
}
.GrifSet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  padding: 0px 5px;
  border-right: 0.5px solid #82dab7; /* Vertical center line */
  border-bottom: 0.5px solid #82dab7;
}
.DetailSection .GridSetWrapper > div:nth-child(2n) {
  border-right: none;
}
.DetailSection .GridSetWrapper > div:nth-last-child(-n + 2) {
  border-bottom: none;
}

.GrifSet img {
  width: 45%;
  height: 45%;
   pointer-events: none;
}
.GrifSet p {
  font-size: 15px;
  line-height: 1;
}

.CircularAnimationWrapper {
  width: 35vw;
  min-width: 330px;
   pointer-events: none;
}
.CircularAnimationWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 700px) {
  .ProblemScenarioWrapper .DetailSection {
    justify-content: center;
  }
}
