.FooterWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 0px 5vw;
  gap: 20px;
}

.FooterWrapper .TopSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.FooterWrapper .TopSection img {
  width: 200px;
}

.FooterWrapper .TopSection p {
  color: #656565;
  line-height: 1;
  font-size: 16px;
  max-width: 400px;
}

.FooterWrapper .iconFill {
  display: none;
}

.FooterWrapper .iconLink:hover .iconFill {
  display: inline;
}

.FooterWrapper .iconLink:hover .iconDefault {
  display: none;
}

.FooterWrapper .BottomSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0vw;
  gap: 20px;
  flex-wrap: wrap;
}

.FooterWrapper .BottomSection .left {
  display: flex;
  gap: 20px;
}
.FooterWrapper .BottomSection .left a {
  text-decoration: none;
  color: #656565;
  font-size: 16px;
}
.FooterWrapper .BottomSection .left a:hover {
  color: #034852;
}
.FooterWrapper .BottomSection .Social {
  display: flex;
  gap: 30px;
}
.FooterWrapper .BottomSection > p {
  color: #656565;
}
@media screen and (max-width: 950px) {
  .FooterWrapper .BottomSection > p {
    text-align: center;
    width: 100%;
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .FooterWrapper .BottomSection {
    flex-direction: column;
    gap: 10px;
  }
  .FooterWrapper .TopSection p {
    font-size: 15px;
  }
  .FooterWrapper .BottomSection .left a {

  font-size: 15px;
}
}
