


.volunteerStories .swiper-pagination-bullet {
  background: rgba(3, 72, 82, 0.5)
}

.volunteerStories .swiper-pagination-bullet-active {
  background: rgba(3, 72, 82, 1); /* Color of the active pagination bullet */
}

/* Align pagination to the left bottom of the container */
.volunteerStories .swiper-pagination {
  margin-left: 0%;
  margin-bottom: -10px;
  right: auto;
  text-align: center;

}
