/* AdminDashboard css */
.AdminDashboard {
  padding: 100px 5vw 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
}

.AdminDashboard .buttonWrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.AdminDashboard .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.AdminDashboard .head > a {
  text-decoration: none;
  color: white;
  background-color: #034852;
  padding: 10px 25px;
  border-radius: 10px;
}
.AdminDashboard .buttonWrapper button {
  padding: 20px 35px;
  border-radius: 10px;
}

.AdminDashboard h1 {
  color: var(--Primary, #034852);
  font-family: "Raleway";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Blogs section css */
.allBlogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.allBlogs .header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.allBlogs .blogWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: left;
  justify-content: center;
}

.allBlogs .blogWrapper .individualDiv {
  width: calc(100% / 3 - 10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-width: 300px;
}

.allBlogs .blogWrapper .individualDiv img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.allBlogs .blogWrapper .individualDiv h3 {
  color: #1a1a1a;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.allBlogs .blogWrapper .individualDiv p {
  color: #667085;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.allBlogs .blogWrapper .individualDiv .categoryDiv {
  justify-self: flex-end;
}
.allBlogs button {
  background-color: rgba(0, 39, 45, 1);
  padding: 11px 32px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Raleway";
  cursor: pointer;
}
@media screen and (max-width: 1050px) {
  .allBlogs .blogWrapper .individualDiv {
    width: calc(100% / 2 - 8px);
  }
}

@media screen and (max-width: 685px) {
  .allBlogs .blogWrapper .individualDiv {
    width: calc(100%);
  }
}

.modalOverlay {
  position: absolute;
  background-color: rgba(3, 72, 82, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 6vh 5vw;
  border-radius: 8px;

}
.modalOverlay h2{
  color: #fff;
}
.modalOverlay form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-top: 20px;
}
.modalOverlay form > div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
}
.modalOverlay form > div label {
  width: 100px;
  color: white;
  font-weight: 500;
}
.modalOverlay form > div input {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
}
.modalOverlay form > div textarea {
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
  height: 100px;
}

.modalOverlay form > div select {
  background-color: white;
  color: black;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  height: fit-content;
}
.modalOverlay form > div select option {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 17px;
  font-weight: 500;
}
.modalOverlay form button {
  width: fit-content;
}
