/* AdminDashboard css */
.AdminDashboard {
  padding: 100px 5vw 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
}

.AdminDashboard .buttonWrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.AdminDashboard .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.AdminDashboard .head > a {
  text-decoration: none;
  color: white;
  background-color: #034852;
  padding: 10px 25px;
  border-radius: 10px;
}
.AdminDashboard .buttonWrapper button {
  padding: 20px 35px;
  border-radius: 10px;
}

.AdminDashboard h1 {
  color: var(--Primary, #034852);
  font-family: "Raleway";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Blogs section css */
.allBlogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.allBlogs .header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.allBlogs .blogWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  text-align: left;
  justify-content: center;
}

.allBlogs button {
  background-color: rgba(0, 39, 45, 1);
  padding: 11px 32px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Raleway";
  cursor: pointer;
}

/* Home Testimonials */

.HomeTestimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.HomeTestimonial .header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}

.HomeTestimonial button {
  background-color: rgba(0, 39, 45, 1);
  padding: 11px 32px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Raleway";
  cursor: pointer;
}

.HomeTestimonial .testimonialsWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  justify-content: center;
}

.HomeTestimonial .testimonialsWrap .IndividualSlider {
  max-width: calc((100% - 30px) / 2);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #034852;
  padding: 5px;
    text-align: left;
}
.HomeTestimonial .testimonialsWrap .IndividualSlider .TextContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.HomeTestimonial .testimonialsWrap .IndividualSlider img {
  max-width: 100%;
  max-height: 200px;
}
.HomeTestimonial .testimonialsWrap .IndividualSlider .buttonSection{
  display: flex;
  justify-content: space-between;
  
}
@media screen and (max-width: 680px) {
  .HomeTestimonial .testimonialsWrap .IndividualSlider {
    max-width: calc((100% - 0px) / 1);
    text-align: center;
  }
  .HomeTestimonial .testimonialsWrap .IndividualSlider .TextContent {
    justify-content: center;
  }
}
