.WhyOpengradWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  padding: 0px 5vw;
}
.WhyOpengradWrapper >div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.WhyOpengradWrapper .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 1;
}
@media screen and (max-width:900px) {
    .WhyOpengradWrapper >div{
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
@media screen and (max-width:500px) {
    .WhyOpengradWrapper >div{
        flex-direction: column;
    }
    .WhyOpengradWrapper >div>svg{
        transform: rotate(90deg);
    }
}